.comparable-wrapper {
	display: flex;
	background-color: orange;
	flex: 1;
}

.comparable-data {
	padding: 12px;
	height: min-content;
	margin: 15px;
	border: 2px solid black;
	border-radius: 5px;

	.addPlate {
		border: none;
		background-color: transparent;
		font-weight: bolder;
	}
}
